body {
background-color: black;
color: white;
font-family: Verdana, sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
margin: 0px;
}

div {
background-color: #181818;
}

div#masthead, form, h1, h2, h3, h4, h5, h6 {
text-align: center;
}

a {
text-decoration: none;
color: cyan;
}

img {
display: block;
width: 100%;
margin-left: auto;
margin-right: auto;
}

form, h1, h2, h3, h4, h5, h6 {
margin-bottom: 10px;
}

div {
border: 2px solid cyan;
border-radius: 10px;
margin: 10px;
padding: 5px;
}

textarea {
width: 95%;
height: 200px;
padding: 20px;
}

button, input.file_to_upload, input.upload {
color: black;
background-color: cyan;
margin-bottom: 4px;
border: 0px;
border-radius: 5px;
}

button, input.upload {
padding: 3px 10px;
}

li, p {
width: 62%;
margin-left: auto;
margin-right: auto;
text-align: justify;
}

li li, li li li, li li li li {
width: 100%;
}

table {
width: 62%;
margin-left: auto;
margin-right: auto;
}

table, th, td {
border: 1px solid #222;
}

blockquote {
color: #aaa;
}

.post {
font-size: 0px;
}

.post p {
font-size: 16px;
}

.post h4 {
font-size: 20px;
}
